<!DOCTYPE html>
<html lang="en">
    
<head>
    <style>
    body {
        color : red;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
</head>
<body>
    {{{body}}}
    <img src="/img/fallpictures6.jpg" alt="fall" height="200px" width="600px">
</body>
</html>